<html>
<head>
    <title>My Website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="indexStyle.css">
</head>
<body ng-controller="indexController" ng-app="myApp">
<!-- load angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
<script src="https://code.angularjs.org/1.7.8/angular-route.js"></script>


<!-- load app -->
<script src="app.js"></script>

<!-- load controllers -->
<script src="pages/about/aboutController.js"></script>
<script src="pages/poi/poiController.js"></script>
<script src="pages/http/httpController.js"></script>
<script src="pages/login/loginController.js"></script>
<script src="pages/restore/restoreController.js"></script>
<script src="pages/register/registerController.js"></script>
<script src="pages/home/homeController.js"></script>
<script src="pages/search/searchController.js"></script>
<script src="pages/homeRegistered/homeRegisteredController.js"></script>
<script src="pages/poi/poiController.js"></script>


<!-- the website -->
<!--        <h1>My Website</h1>-->

<!-- menu -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-modal="homes" ng-init="'#!home'" href="{{homes}}">Amsterdam</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="#!about">About</a>
            </li>
            <li>
                <a href="#!search">Search POI</a>
            </li>
            <li>
                <a ng-show="show" href="#!poi">My POIS</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-show="show" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            <li><a ng-hide="hide" href="#!register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a ng-hide="hide" href="#!login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a ng-model="name"><span class="glyphicon glyphicon-heart"></span> {{name}}</a></li>
        </ul>
    </div>
</nav>


<!-- This section changes as the hashbang changes -->
<div ng-view>


</div>
<script src="indexController.js"></script>
</body>
</html>