<link rel="stylesheet" type="text/css" href="pages/login/loginStyle.css">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Sign In </h2>
        <form>
            <input ng-model="username" type="text" id="username" class="fadeIn second" name="username"
                   placeholder="username">
            <input ng-model="password" type="password" id="password" class="fadeIn third" name="password"
                   placeholder="password">
            <h4 ng-show="show" ng-model="fal" type="text" id="fal" class="fadeIn first" name="fal">{{fal}}</h4>
            <input type="submit" ng-click="logIn()" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Password -->
        <div id="formFooter">
            <a class="underlineHover" href="#!restore">Forgot Password?</a>
        </div>

    </div>
</div>

<script src="pages/login/loginController.js"></script>
