<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="pages/poi/poiStyle.css">
</head>
<body>
<div class="jumbotron text-center" id="welcomeNot">
    <h1 style="font-weight: bold;">Favorites <h4 style="font-weight: bold;">You can view you current favorites and save
        them for the DB
    </h4></h1>
</div>
<!--<div id="options" ng-init="getAllReviews()">-->
<div id="options">
    <div>
        <div class="col-sm-4 text-center">
            <label id="title_cat"><b>Select Category to Show:</b></label>
            <select ng-model="cat" id="cat" name="cat" ng-change="selectByCat()">
                <option value="" selected data-default class="sel">All category</option>
                <option>Eatings</option>
                <option>Museum</option>
                <option>Tours</option>
                <option>Nature and Parks</option>
            </select>
        </div>
        <div class="col-sm-4 text-center">
            <label id="title_rnk">Sort by Rank
                <button id="sort" type="button" class="btn"
                        ng-click="getByrank()">Sort
                </button>
            </label>
        </div>
        <!--        <div class="col-sm-4 text-center">-->
        <!--            <label id="title_sortp">Sort by My order-->
        <!--                <button id="sortp" type="button" class="btn" data-toggle="modal" data-target="#moRank">Sort-->
        <!--                </button>-->
        <!--            </label>-->
        <!--        </div>-->
        <br>
        <br>

    </div>
</div>


<div ng-init="init()">
    <div class="row text-center">
        <h1>Favorites Cart</h1><br><br>
        <h3 ng-show="poiShow.notfound">No Favorites in Cart for you</h3>
        <!--                <h3 >No Favorites in Cart for you</h3>-->
        <!--                <div ng-repeat="x in poiShow"  class="col-sm-4 text-center">-->
        <div ng-repeat="x in poiShow" ng-hide="poiShow.found" class="col-sm-4 text-center">
            <h2 style="color:#cc283a;font-weight: bold; font-size: 25px" ng-bind="x.poiname" ng-click="rowClick(x)"
                data-toggle="modal" data-target="#mox"></h2><br>
            <img ng-src="{{ x.picture }}" alt="Image" ng-click="rowClick(x)" data-toggle="modal" data-target="#mox">
            <br>
            <br>
            <button id="saveTodb" type="button" class="btn" ng-click="addToDB(x)" ng-hide="x.favorites">Add to
                favorites
            </button>
            <!--            <button id="saveReviews" type="button" ng-click="rowClick(x)" data-toggle="modal" data-target="#moS">Add-->
            <!--                review-->
            <!--            </button>-->
            <!--            <h4 ng-modal="message" ng-show="x.favorites">{{message}}</h4>-->
        </div>
    </div>

    <div class="row text-center">
        <br><br><br>
        <h1>Saved Favorites</h1><br><br>
        <h3 ng-hide="poiSaved.found">No saved Favorites for you</h3>
        <div ng-repeat="x in poiSaved | orderBy" ng-show="poiSaved.found" class="col-sm-4 text-center">
            <h2 style="color:#cc283a;font-weight: bold; font-size: 25px" ng-bind="x.poiname" ng-click="rowClick(x)"
                data-toggle="modal" data-target="#mox"></h2><br/>
            <img ng-src="{{ x.picture }}" alt="Image" ng-click="rowClick(x)" data-toggle="modal" data-target="#mox">
            <br/>
            <br/>
            <div>
                <button id="saveReviews1" type="button" class="btn" ng-click="rowClick(x)" data-toggle="modal"
                        data-target="#moS">
                    Add Review
                </button>
                <button id="deleteFromDB" type="button" class="btn" ng-click="deleteFromDB(x)">Delete from Favorites
                </button>
                <br>
                <button ng-hide="orderpoi" id="up" type="button" class="btn glyphicon glyphicon-chevron-left"
                        data-dismiss="modal"
                        ng-click="rankUp(x)">
                </button>
                <button ng-hide="orderpoi" id="down" type="button" class="btn glyphicon glyphicon-chevron-right"
                        data-dismiss="modal"
                        ng-click="rankDown(x)">
                </button>
            </div>
            <br/>
        </div>

    </div>


</div>


<!--Modal For Ordering -->
<div id="moRank" class="modal fade" role="dialog">
    <div class="modal-dialog" style="text-align: center">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="color:#cc283a;font-weight: bold;">Order your favorites</h2>
            </div>
            <div class="modal-body">
                <div ng-repeat="x in poiSaved" class="col-sm-12 text-center">
                    <h2 style="color:#cc283a;font-weight: bold; font-size: 25px" ng-bind="x.poiname"></h2><br>
                    <!--                    <h2 style="color:#cc283a;font-weight: bold; font-size: 25px" ng-bind="x.poiname" ng-click="rowClick(x)" data-toggle="modal" data-target="#mox"></h2><br>-->
                    <img ng-src="{{x.picture}}" alt="Image" style="width: 60%">
                    <!--                    <input ng-model="rank" type="text" id="rankmypoi" class="fadeIn third" name="rankpoi">-->
                    <button id="mrup" type="button" class="btn btn-default" data-dismiss="modal" ng-click="rankUp(x)">
                        ^
                    </button>
                    <button id="mrdown" type="button" class="btn btn-default" data-dismiss="modal"
                            ng-click="rankDown(x)">|
                    </button>
                </div>
                <br/>
                <div class="modal-footer">
                    <button id="mr" type="button" class="btn btn-default" data-dismiss="modal">Applay</button>
                </div>
            </div>

        </div>
    </div>
</div>


<!--Modal for ranking-->
<div id="moS" class="modal fade" role="dialog">
    <div class="modal-dialog" style="text-align: center">
        <!-- Modal content-->
        <div class="modal-content">
            <form name="reviweForm" ng-submit="reviweForm.$valid && AddReview(selectedpoi)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title" style="color:#cc283a;font-weight: bold;">{{selectedpoi.poiname}}</h2>
                </div>
                <div class="modal-body">
                    <br/>
                    <img ng-src="{{selectedpoi.picture}}" alt="Image" style="width: 60%">
                    <br/><br/><br/>
                    <ul style="list-style-type:none;">
                        <li>Rank the POI(1- lowest, 5- highest)<input ng-model="rank" type="number" id="rankpoi"
                                                                      class="fadeIn third" name="rankpoi"
                                                                      ng-required="true" min="1" max="5" integer value="">
                            <p ng-show="form.size.$error.required">You must fill rank to submit the form</p>
                            <span ng-show="form.size.$error.integer">The value must be a number</span>
                            <span ng-show="form.size.$error.min || form.size.$error.max">The value must be in range 1 to 5</span>
                        </li>
                        <li>Write a review on the POI<input ng-model="review" type="text" id="raviewpoi"
                                                            class="fadeIn third"
                                                            name="raviewpoi" value=""></li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <button id="ms" type="submit" class="btn btn-default" >save</button>
                    <button id="msc" type="submit" class="btn btn-default" on-click="clearM()" data-dismiss="modal">close</button>
                </div>

            </form>
        </div>
    </div>
</div>


<!--Modal for poi info-->
<div id="mox" class="modal fade" role="dialog">
    <div class="modal-dialog" style="text-align: center">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="color:#cc283a;font-weight: bold;">{{selectedpoi.poiname}}</h2>
            </div>
            <div class="modal-body">
                <h4>Average rank: {{selectedpoi.rnk}}</h4>
                <h4 style="font-weight: bold;">Category: {{selectedpoi.category}}</h4>
                <h4>Description: {{selectedpoi.descr}}</h4>
                <h4>Number of view: {{selectedpoi.viw}}</h4>
                <h4><b>Reviews:</b></h4>
                <h4>1. {{selectedpoi.reviews[0].review}}</h4>
                <h4>2. {{selectedpoi.reviews[1].review}}</h4>
                <br/>
                <img ng-src="{{selectedpoi.picture}}" alt="Image" style="width: 60%">
            </div>
            <div class="modal-footer">
                <button id="mx" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="pages/poi/poiController.js"></script>
</body>
</html>