@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family:  "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
    /*padding:0px;*/
}

.jumbotron {
    background-image: url(" two.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    height : 200px;
    /*margin-top: -20px;*/
    margin-top: -2%;
}

#re, #lo{

}
#welcome{
    border: 4px solid #861601;
    border-radius: 10px;
    margin-top: -2.5%;
}
button{
    background-color: #861601;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover{
    background-color: #9b1701;
    color: white;
}