@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-image: url("four.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
    /*padding:0px;*/
}

.jumbotron {
    background-image: url("two.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: black;
    /*background-color: rgba(250, 198, 191, 0.62);*/
}

#welcome {
    /*overflow:hidden;*/
    display: flex;
    /*height:30%;*/
}

#lgnow {
    background-color: #ff9d50;
    color: black;
    padding: 10px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#lgnow:hover {
    background-color: rgba(171, 105, 54, 0.65);
    color: white;
}

#rgnow {
    background-color: #abff87;
    color: black;
    padding: 10px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#rgnow:hover {
    background-color: rgba(128, 191, 97, 0.46);
    color: white;
}

img {
    width: 60%;
    height: 40%;
}

#re {
    background-image: url("div7.jpg");
    /*background: rgba(124, 131, 93, 0.47);*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-radius: 10px;
    margin: 0px 60px 0px 75px;
    /*margin: 0px 60% 20% 75%;*/
    color: white;
}

#lo {
    background-image: url("div3.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background: rgba(131, 100, 104, 0.47);*/
    border-radius: 10px;
    margin: 0px 60px 0px 75px;
    color: white;
}

.wrapper {
    text-align: center;
}

#uno {
    background: rgba(129, 124, 131, 0.47);
    padding: 10px;

}

.modal-body {
    background-image: url("four.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#mb {
    background-color: #cc283a;
    color: white;
}

#mb2 {
    background-color: #cc283a;
    color: white;
}

#mb3 {
    background-color: #cc283a;
    color: white;
}

#mb:hover {
    background-color: rgba(238, 45, 68, 0.71);
    color: white;
}
#mb2:hover {
    background-color: rgba(238, 45, 68, 0.71);
    color: white;
}
#mb3:hover {
    background-color: rgba(238, 45, 68, 0.71);
    color: white;
}