@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: "Poppins", sans-serif;
}
.jumbotron {
    background-image: url("amsAbove.jpg");
    color: #ffffff;
}
/*.container-fluid {*/
/*    padding: 60px 50px;*/
/*}*/
.bg-grey {
    background-color: #f6f6f6;
}
.container {
    padding: 80px 120px;
}

#myCarousel{
    align: center;
    align-items: center;
    color: #00b85c;
}
.carousel{
    /*align-items: center;*/
    color: #0d0d0d;
}