@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-image: url(" bg2.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

input[type=text] {
    background-color: rgba(246, 246, 246, 0.62);
    text-align: center;
    font-size: 16px;
    width: 10px;
}

button {
    background-color: #af677f;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: rgba(219, 157, 184, 0.84);
    color: white;
}

.jumbotron {
    color: black;
    background-color: rgba(219, 217, 210, 0.6);
}

.input-group {
    /*margin: 0px 200px 20px 200px;*/
    margin: 0 0 0 30%;
    width: 40%;
}

#srch, #srch1 {
    background: rgba(219, 217, 210, 0.6);
    padding: 10px;
}

.modal-body {
    background-image: url("bg2.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: black;
}


#mb, #mx{
    background-color: #af677f;
    color: white;
}



#mb, #mx:hover {
    background-color: rgba(175, 103, 127, 0.69);
    color: white;
}

#title_cat, #title_rnk {
    font-size: 20px;
    color: #b8636b;
}

#options {
    background-color: rgba(219, 218, 203, 0.84);
    padding: 5px 5px 5px 5px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

select {
    background-color: #f6f6f6;
    color: #545458;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}


select::placeholder {
    color: #cccccc;
}

img {
    width: 90%;
    height: 30%;
}

#eat, #museum, #tours, #parks, #ranks {
    background: rgba(219, 217, 210, 0.6);
    padding: 5px 5px 5px 50px;
}


.notification .badge {
    position: absolute;
    top: -3px;
    border-radius: 50%;
    border-color:  #af677f;
    border-style: dotted;
    background: #f6fff4;
    color: black;
}