<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Search POI</title>-->
<!--<link rel="stylesheet" type="text/css" href="pages/search/searchStyle.css">-->
<!--</head>-->
<!--<body>-->
<link rel="stylesheet" type="text/css" href="pages/search/searchStyle.css">
<div class="jumbotron text-center" id="welcomeNot" ng-init="saved()">
    <h1 style="font-weight: bold;">Amsterdam! <h4 style="font-weight: bold;">All you need to know for your next
        Trip..</h4></h1>
</div>
<div id="options" ng-init="getAllReviews()">
    <div id="limitation" class="col-sm-6 text-center">
        <div class="col-sm-8 text-center">
            <label id="title_cat"><b>Select Category to Show:</b></label>
            <select ng-model="cat" id="cat" name="cat" ng-change="selCat()">
                <option value="" selected data-default class="sel">All category</option>
                <option>Eatings</option>
                <option>Museum</option>
                <option>Tours</option>
                <option>Nature and Parks</option>
            </select>
        </div>
        <div class="col-sm-4 text-center">
            <label id="title_rnk">Sort by Rank
                <button id="sort" type="button" class="btn"
                        ng-click="byRank()">Sort
                </button>
            </label>
        </div>

    </div>
    <div class="input-group col-sm-6 text-center">
        <div ng-show="show" class="col-sm-3 text-center">
            <button type="button" class="btn notification" ng-click="toFavo()">
                <span>Favorites</span>
                <span ng-modal="number" ng-init="number='0'" class="badge">{{number}}</span>
            </button>
        </div>
        <div class="col-sm-9 text-center">
            <input ng-model="search" id="search" type="text" class="form-control" placeholder="Search...">
            <div class="input-group-btn">
                <button type="button" ng-click="searchIt()" class="btn">Search</button>
            </div>
        </div>

    </div>
</div>

<div id="srch1" ng-show="sho">
    <h2 class="container-fluid text-center" ng-modal="error" style="color:#af677f;font-weight: bold;">
        {{error}}</h2>
</div>
<div ng-show="show1" id="srch" class="container-fluid bg-3 text-center">
    <h2><b>Search Results</b></h2>
    <br/>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h3 ng-modal="poiname" style="color:#af677f;font-weight: bold; font-size: 30px" ng-click="rowClick(all)"
                data-toggle="modal"
                data-target="#mox">{{poiname}}</h3>
            <br/>
            <img ng-modal="src" ng-src="{{src}}" alt="Image" style="width: 60%; height:40%" ng-click="rowClick(all)"
                 data-toggle="modal"
                 data-target="#mox">
            <h2 ng-show="show" style="font-size: 25px">Add to favorites
                <span ng-hide="all.isSelected" class="glyphicon glyphicon-heart-empty"
                      ng-click="toFavorites(all)"></span>
                <span ng-show="all.isSelected" ng-click="unFavorites(all)" class="glyphicon glyphicon-heart"></span>
            </h2>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>


<div ng-hide="es" id="eat" ng-init="getByCategory('Eatings')">
    <br/>
    <h1 style="color:black;font-weight: bold;">Eatings</h1>
    <br/>
    <div class="row text-center">
        <div class="col-sm-3" ng-repeat="x in pois">
            <div>
                <h2 style="color:#cc283a;font-weight: bold;font-size: 25px" ng-click="rowClick(x)" data-toggle="modal"
                    data-target="#mox">{{x.poiname}} </h2>
                <br/>
                <img ng-src="{{x.picture}}" alt="Image" ng-click="rowClick(x)" data-toggle="modal" data-target="#mox">
                <h2 ng-show="show" style="font-size: 25px">Add to favorites
                    <span ng-hide="x.isSelected" class="glyphicon glyphicon-heart-empty"
                          ng-click="toFavorites(x)"></span>
                    <span ng-show="x.isSelected" ng-click="unFavorites(x)" class="glyphicon glyphicon-heart"></span>
                </h2>
            </div>
            <br/>
        </div>
    </div>
</div>

<div ng-hide="ms" id="museum" ng-init="getByCategory('Museum')">
    <br/>
    <h1 style="color:black;font-weight: bold;">Museum</h1>
    <br/>
    <div class="row text-center">
        <div class="col-sm-3" ng-repeat="x in pois1">
            <div>
                <h2 style="color:#cc283a;font-weight: bold;font-size: 25px" ng-click="rowClick(x)" data-toggle="modal"
                    data-target="#mox">{{x.poiname}}</h2>
                <br/>
                <img ng-src="{{x.picture}}" alt="Image" ng-click="rowClick(x)" data-toggle="modal" data-target="#mox">
                <h2 ng-show="show" style="font-size: 25px">Add to favorites
                    <span ng-hide="x.isSelected" class="glyphicon glyphicon-heart-empty"
                          ng-click="toFavorites(x)"></span>
                    <span ng-show="x.isSelected" ng-click="unFavorites(x)" class="glyphicon glyphicon-heart"></span>
                </h2>
            </div>
            <br/>
        </div>
    </div>
</div>

<div ng-hide="ts" id="tours" ng-init="getByCategory('Tours')">
    <br/>
    <h1 style="color:black;font-weight: bold;">Tours</h1>
    <br/>
    <div class="row text-center">
        <div class="col-sm-3" ng-repeat="x in pois2">
            <div>
                <h2 style="color:#cc283a;font-weight: bold; font-size: 25px" ng-click="rowClick(x)" data-toggle="modal"
                    data-target="#mox">{{x.poiname}}</h2>
                <br/>
                <img ng-src="{{x.picture}}" alt="Image" ng-click="rowClick(x)" data-toggle="modal" data-target="#mox">
                <h2 ng-show="show" style="font-size: 25px">Add to favorites
                    <span ng-hide="x.isSelected" class="glyphicon glyphicon-heart-empty"
                          ng-click="toFavorites(x)"></span>
                    <span ng-show="x.isSelected" ng-click="unFavorites(x)" class="glyphicon glyphicon-heart"></span>
                </h2>
            </div>
            <br/>
        </div>
    </div>
</div>

<div ng-hide="ps" id="parks" ng-init="getByCategory('Nature and Parks')">
    <br/>
    <h1 style="color:black;font-weight: bold;">Nature and Parks</h1>
    <br/>
    <div class="row text-center">
        <div class="col-sm-3" ng-repeat="x in pois3">
            <div>
                <h2 style="color:#cc283a;font-weight: bold;font-size: 25px" ng-click="rowClick(x)" data-toggle="modal"
                    data-target="#mox">{{x.poiname}}</h2>
                <br/>
                <img ng-src="{{x.picture}}" alt="Image" ng-click="rowClick(x)" data-toggle="modal" data-target="#mox">
                <h2 ng-show="show" style="font-size: 25px">Add to favorites
                    <span ng-hide="x.isSelected" class="glyphicon glyphicon-heart-empty"
                          ng-click="toFavorites(x)"></span>
                    <span ng-show="x.isSelected" ng-click="unFavorites(x)" class="glyphicon glyphicon-heart"></span>
                </h2>
            </div>
            <br/>
        </div>
    </div>
</div>

<div ng-show="rs" id="ranks">
    <br/>
    <h1 style="color:black;font-weight: bold;">All Points Of Interest By Rank Ascending</h1>
    <br/>
    <div class="row text-center">
        <div class="col-sm-4" ng-repeat="x in pois4">
            <h2 style="color:#cc283a;font-weight: bold;font-size: 25px" ng-click="rowClick(x)" data-toggle="modal"
                data-target="#mox">{{x.poiname}}</h2>
            <br/>
            <img ng-src="{{x.picture}}" alt="Image" ng-click="rowClick(x)" data-toggle="modal" data-target="#mox">
            <h2 ng-show="show" style="font-size: 25px">Add to favorites
                <span ng-hide="x.isSelected" class="glyphicon glyphicon-heart-empty"
                      ng-click="toFavorites(x)"></span>
                <span ng-show="x.isSelected" ng-click="unFavorites(x)" class="glyphicon glyphicon-heart"></span>
            </h2>
            <br/>
            <br/>
        </div>
    </div>
</div>


<!--&lt;!&ndash;Modal Territory&ndash;&gt;-->
<!--<div id="mo1" class="modal fade" role="dialog">-->
<!--<div class="modal-dialog" style="text-align: center">-->
<!--&lt;!&ndash; Modal content&ndash;&gt;-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--<h2 class="modal-title" ng-modal="poiname" style="color:#af677f;font-weight: bold;">{{poiname}}</h2>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<h4 ng-modal="rnk">Average rank: {{rnk}}</h4>-->
<!--<h4 ng-modal="category" style="font-weight: bold;">Category: {{category}}</h4>-->
<!--<h4 ng-modal="desc">Description: {{desc}}</h4>-->
<!--<h4 ng-modal="view">Number of view: {{view}}</h4>-->
<!--<br/>-->
<!--<img ng-modal="src" ng-src="{{src}}" alt="Image" style="width: 60%">-->
<!--<h2 ng-show="show" style="font-size: 25px">Add to favorites-->
<!--<span ng-hide="all.isSelected" class="glyphicon glyphicon-heart-empty"-->
<!--ng-click="toFavorites(all)"></span>-->
<!--<span ng-show="all.isSelected" ng-click="unFavorites(all)" class="glyphicon glyphicon-heart"></span>-->
<!--</h2>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button id="mb" type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--Modal Territory-->
<div id="mox" class="modal fade" role="dialog">
    <div class="modal-dialog" style="text-align: center">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="color:#cc283a;font-weight: bold;">{{selectedpoi.poiname}}</h2>
            </div>
            <div class="modal-body">
                <h4>Average rank: {{selectedpoi.rnk}}</h4>
                <h4 style="font-weight: bold;">Category: {{selectedpoi.category}}</h4>
                <h4>Description: {{selectedpoi.descr}}</h4>
                <h4>Number of view: {{selectedpoi.viw}}</h4>
                <h4><b>Reviews:</b></h4>
                <h4>1. {{selectedpoi.reviews[0].review}}</h4>
                <h4>2. {{selectedpoi.reviews[1].review}}</h4>
                <br/>
                <img ng-src="{{selectedpoi.picture}}" alt="Image" style="width: 60%">
                <h2 ng-show="show" style="font-size: 25px">Add to favorites
                    <span ng-hide="selectedpoi.isSelected" class="glyphicon glyphicon-heart-empty"
                          ng-click="toFavorites(selectedpoi)"></span>
                    <span ng-show="selectedpoi.isSelected" ng-click="unFavorites(selectedpoi)"
                          class="glyphicon glyphicon-heart"></span>
                </h2>
            </div>
            <div class="modal-footer">
                <button id="mx" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="pages/search/searchController.js"></script>
<!--</body>-->
<!--</html>-->