<link rel="stylesheet" type="text/css" href="pages/home/css/homeStyle.css">
<div class="jumbotron text-center" id="welcomeNot">
    <h1 style="font-weight: bold;">Amsterdam! <h4 style="font-weight: bold;">All you need to know for your next
        Trip</h4></h1>
</div>

<div id="welcome" ng-init="getAllReviews()">
    <div id="re" class="col-sm-6" class="container-fluid">
        <br/>
        <h2 style="text-align: center"><b>Are you not registered yet?</b></h2>
        <br/>
        <h4 style="text-align: center">Do you want<b> new experience?</b></h4>
        <br/>
        <h3 style="text-align: center; color:#abff87">It only take few minutes to get the <b>vacation you always
            wanted...</b></h3>
        <br/>
        <div class="wrapper">
            <button id="rgnow" type="button" class="btn" ng-click="reg()">Register Now!</button>
        </div>
        <br/>
        <br/>
    </div>
    <div id="lo" class="col-sm-6" class="container-fluid">
        <br/>
        <h2 style="text-align: center"><b>Log In now!</b></h2>
        <br/>
        <h4 style="text-align: center">Don't forget to log in! </h4>
        <br/>
        <h3 style="text-align: center; color:#ff9d50">Your favorite places <b>won't mark themselves..</b></h3>
        <br/>
        <div class="wrapper">
            <button id="lgnow" type="button" class="btn" ng-click="log()">Log In now!</button>
        </div>
        <br/>
        <br/>
    </div>
</div>

<div id="explore" ng-init="getRandomPOI()">
    <br/>
    <div class="container-fluid bg-3 text-center">
        <h1><b>Explore new Point Of Interests!</b></h1>
        <br/>
        <br/>
        <div class="row" id="uno">
            <div class="col-sm-4">
                <h3 ng-modal="poiname1" style="color:#cc283a;font-weight: bold;" ng-click="rowClick(poid1)"
                    data-toggle="modal"
                    data-target="#mox">{{poiname1}}</h3>
                <br/>
                <img ng-modal="src1" ng-src="{{src1}}" alt="Image" ng-click="rowClick(poid1)"
                     data-toggle="modal"
                     data-target="#mox">
            </div>
            <div class="col-sm-4">
                <h3 ng-modal="poiname2" style="color:#cc283a;font-weight: bold;" ng-click="rowClick(poid2)"
                    data-toggle="modal"
                    data-target="#mox">{{poiname2}}</h3>
                <br/>
                <img ng-modal="src2" ng-src="{{src2}}" alt="Image" ng-click="rowClick(poid2)"
                     data-toggle="modal"
                     data-target="#mox">
            </div>
            <div class="col-sm-4">
                <h3 ng-modal="poiname3" style="color:#cc283a;font-weight: bold;" ng-click="rowClick(poid3)"
                    data-toggle="modal"
                    data-target="#mox">{{poiname3}}</h3>
                <br/>
                <img ng-modal="src3" ng-src="{{src3}}" alt="Image" ng-click="rowClick(poid3)"
                     data-toggle="modal"
                     data-target="#mox">
            </div>

        </div>
    </div>
    <br/>
    <br/>
    <br/>
</div>

<!--Modal Territory-->
<div id="mox" class="modal fade" role="dialog">
    <div class="modal-dialog" style="text-align: center">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="color:#cc283a;font-weight: bold;">{{selectedpoi.poiname}}</h2>
            </div>
            <div class="modal-body">
                <h4>Average rank: {{selectedpoi.rnk}}</h4>
                <h4 style="font-weight: bold;">Category: {{selectedpoi.category}}</h4>
                <h4>Description: {{selectedpoi.descr}}</h4>
                <h4>Number of view: {{selectedpoi.viw}}</h4>
                <h4><b>Reviews:</b></h4>
                <h4>1. {{selectedpoi.reviews[0].review}}</h4>
                <h4>2. {{selectedpoi.reviews[1].review}}</h4>
                <br/>
                <img ng-src="{{selectedpoi.picture}}" alt="Image" style="width: 60%">
                <h2 ng-show="show" style="font-size: 25px">Add to favorites
                    <span ng-hide="selectedpoi.isSelected" class="glyphicon glyphicon-heart-empty"
                          ng-click="toFavorites(selectedpoi)"></span>
                    <span ng-show="selectedpoi.isSelected" ng-click="unFavorites(selectedpoi)"
                          class="glyphicon glyphicon-heart"></span>
                </h2>
            </div>
            <div class="modal-footer">
                <button id="mx" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="pages/home/homeController.js"></script>
